apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: basedepartments.fuxi.nip.io
spec:
  group: fuxi.nip.io
  names:
    kind: BaseDepartment
    listKind: BaseDepartmentList
    plural: basedepartments
    singular: basedepartment
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: BaseDepartment is the Schema for the basedepartments API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: BaseDepartmentSpec defines the desired state of BaseDepartment
          properties:
            defaultNamespace:
              type: string
            gits:
              items:
                properties:
                  address:
                    type: string
                  password:
                    type: string
                  token:
                    type: string
                  user:
                    type: string
                  verification:
                    type: string
                type: object
              type: array
            namespace:
              items:
                type: string
              type: array
            registers:
              items:
                properties:
                  address:
                    type: string
                  password:
                    type: string
                  token:
                    type: string
                  user:
                    type: string
                  verification:
                    type: string
                type: object
              type: array
          type: object
        status:
          description: BaseDepartmentStatus defines the observed state of BaseDepartment
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
